footer{
   font-size: 2rem;
   padding: .5rem;
   background: $color-primary;
   color:$color-white;
   box-shadow: 3px 3px 5px 6px #ccc; 
   p{
      margin-bottom: 0;
      margin-top: .5rem;
      a{
         color:$color-white;
      }
      a:hover{
         color:grey;
      }
   }   
}
footer,
.push {
  height: 5rem;
}
.margin-50{
   margin-top: 5rem;
}
@media only screen and (max-width: 368px) {
  footer p {
    font-size: 1.5rem;
  }
}